@import "../../foundations/variables";

.button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: $default-font-size;
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: $color-blue;
  border-radius: 5px;
  position: relative;
  width: 6rem;
  height: 6rem;
  transition: all 0.2s;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  &:focus,
  &:hover {
    background-color: $color-blue-dark;

    & .todo__icon {
      color: $color-light;
      &__path {
        fill: $color-light;

        &__delete {
          stroke: $color-light;
        }
      }
    }
  }

  &:disabled {
    cursor: initial;
    background-color: $color-light;
    & .todo__icon {
      color: $color-gray;
      &__path {
        fill: $color-gray;

        &__delete {
          stroke: $color-gray;
        }
      }
    }
  }
}
