@import "../../foundations/variables";

.todo__editMode {
  list-style: none;
  width: 100%;
  margin: 4rem 0;
  display: inline-grid;
  align-items: center;
  justify-items: stretch;
  grid-template-columns: $grid-column-size;
  column-gap: 2rem;
  animation: editTodoFadeIn 0.3s ease-in-out 0s 1 forwards;

  &__input {
    display: flex;
    flex-direction: column;
    position: relative;

    & label {
      position: absolute;
      font-size: $default-font-size;
      color: $color-blue-dark;
      top: -60%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
}
