@import "../../foundations/variables";
@import "../../foundations/breakpoints";
@import "../../foundations/mixins";

.todo__icon {
  @include absoluteCenter;
  display: block;
  height: 3.2rem;
  width: 3.2rem;
  color: $color-dark;
  transition: all 0.2s;

  &__path {
    color: $color-dark;
    &__delete {
      fill: none;
      stroke: $color-dark;
      stroke-linejoin: round;
      stroke-width: 2px;
    }
  }

  &__dodo {
    width: 15rem;
    fill: $color-blue;

    @include respond(phone) {
      width: 12rem;
    }

    & path,
    ellipse,
    circle {
      stroke: $color-blue;
      stroke-width: 1px;
    }
  }
}
