@import "../../foundations/variables";

.todo__icon {
  display: block;
  height: 3rem;
  width: 3rem;
  color: black;
  &__path {
    display: block;
    height: 3rem;
    width: 3rem;
    color: black;

    &__delete {
      fill: none;
      stroke: #000;
      stroke-linejoin: round;
      stroke-width: 2px;
    }
  }

  &__dodo {
    width: 15rem;
    fill: $color-red;

    & path,
    ellipse,
    circle {
      stroke: $color-red;
      stroke-width: 1px;
    }
  }
}
