@import "../../foundations/variables";
@import "../../foundations/mixins";

.todo {
  &__header {
    @include flex-row;
    height: 25rem;
    background-color: $color-dark;

    &__content {
      @include flex-column;
      max-width: 90vw;
    }

    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
